<%- include('./partials/headereceit') %>
    <h3 id="Sertoes">Sertões</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4">
            <% if(sertoes  && sertoes.length > 0 ) { %>
            <% sertoes.forEach(function(receita){ %>
          <div class="col">
          <div class="card h-100">
          <img src="/img/<%= receita.img %>" class="card-img-top" alt="<%= receita.titulo %>">
          <div class="card-body">
            <h5><a class="card-title"><%= receita.titulo %></a></h5>

          </div>
        </div>
      </div>
    <% }) %>
    <% } else { %>
        <p>No items found.</p>
      <% } %> 
  </div>
  
  <footer class="container-fluid mt-5 py-3 footer">
    <%- include('./partials/footer') %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>